@import webecho.routing.HomePageContext
@(context: HomePageContext)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="@context.page.base/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="@context.page.base/images/logo-base-32.png">
    <title>@context.page.title</title>
  </head>
  <body>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-5">
        <div class="jumbotron">
          <h1 class="display-4"><img src="@context.page.base/images/logo-base-64.png"/> @context.page.title</h1>

          <p class="lead text-sm-start">
            <b>@context.page.appcode</b> service allows you to easily define on the fly JSON recorders which can be
            fed by remote services using either the dynamically generated webhook or the websocket
            you've provided. Then, at any time you can check what have been sent by the configured
            remote services thanks to the provided API.
          </p>
          <p>
            This service currently manages <b>@context.stats.count</b> json recorders.
          </p>

          <hr class="my-4"/>

          <p>
            Take a look to the <a href="@context.page.swaggerUIURL">Swagger API specification</a> to use this service
            or go to <a href="@context.page.projectURL">the @context.page.appcode github repository</a> if you want
            to contribute.
          </p>
          <p class="text-right"><small>
            <i>
              <a href="@context.page.projectURL">@context.page.appcode</a> @context.page.buildVersion
            </i>
          </small>
          </p>

        </div>
      </div>
    </div>

    <script src="@context.page.base/assets/jquery/jquery.min.js"></script>
    <script src="@context.page.base/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
