name: CI
on:
  push:
    paths-ignore:
      - 'README.md'
  pull_request:

env:
  WEB_ECHO_SECURITY_SSRF_PROTECTION_ENABLED: 'false'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Build and test
        run: sbt test
